source_list:
  - SB
  - OL

SB:
  mysql_conf:
    partition_column: App_Transaction_Id
    query : "(select * from testdb.TRANSACTIONSYNC) as t"

OL:
  sftp_conf:
      filetype: csv
      delimiter: |
      directory: /home/ubuntu/data
      filename: receipts_delta_GBR_14_10_2017.csv

s3_conf:
  s3_bucket: binod-505
  staging_dir: staging

mongodb_config:
  database: cust
  collection: address

redshift_conf:
  filetype: csv
  delimiter: |
  dbtable: PUBLIC.sales
  query: SELECT sellerid, pricepaid from PUBLIC.sales

spark_sql_demo:
  agg_demo: >
    select
        AccountNumber,
        UniqueTransactionDescriptions,
        sort_array(UniqueTransactionDescriptions, false) as OrderedUniqueTransactionDescriptions,
        size(UniqueTransactionDescriptions) as CountOfUniqueTransactionTypes,
        array_contains(UniqueTransactionDescriptions, 'Movies') as WentToMovies
    from
        agg_finances
  case_when_demo: >
    select
        company,
        employee.firstName as firstName,
        case
            when company = 'FamilyCo' then 'Premium'
            when company = 'OldCo' then 'Legacy'
            else 'Standard'
        end as Tier
    from
        employees